<h3>Public Shop Page - Everyone can view this!</h3>
<p>Try incognito window to simulate a buyer</p>
<hr>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= form_with(url: '/checkout', local: true) do |form| %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @product.title %>"
            data-amount="<%= (@product.price * 100).to_i %>"
            data-locale="auto"></script>
<% end %>
<br>
<%= link_to 'Cancel and return to Dashboard', root_path %>
